.bol-bg-img{
	background-image: url("./../images/paperform.jpeg");
}

.bol-bg-img2{
	background-image: url("./../images/paperform2.jpeg");
}

.bol-bg-img3{
	background-image: url("./../images/invoiceai.gif");
}

.bol-bg-img4{
	background-image: url("./../images/bolform.jpg");
}

.bol-bg-img5{
	background-image: url("./../images/animatedBill.gif");
}

.bol-cont{
	padding-top: 50px;
}