
#nav-items{
	list-style: none;
}

#nav-wrapper{
    box-shadow: 1px 1px 8px #a0a0a0ad;
    border-color: #e0dcdc;
    background: #fdfdfd;
    height: 55px;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #545454;
}

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";

body {
  background: white;
  font-family : "fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif";
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}

.carousel-caption h1{
  color: red;
}

.flex {
  align-items: center;
  justify-content: center;
}

a.bttn {
  color: #FF0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  border-radius: 15px;
}
a.bttn:hover {
  color: #FFF;
  border-radius: 15px;
}
a.bttn:focus {
  color: #FFF;
  border-radius: 15px;
}

a.bttn-dark {
  border-radius: 15px;
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-dark:hover {
  border-radius: 15px;
  color: #FFF;
}
a.bttn-dark:focus {
  color: #FFF;
  border-radius: 15px;
}

.bttn {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 2px 0px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -2;
  border-radius: 15px;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 15px;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 15px;
}

.bttn-dark {
 font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 100px;
  padding: 2px 0px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #644cad;
  z-index: -1;
  border-radius: 15px;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel-img{
  width: 100%;
  max-height: 500px;
}

.login-signup-btn{
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}


.home-parallax {
    background-image: url("./../images/harbour2.jpeg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-info h1,#home-info p{
  color: white;

}

#home-leader{
    background: #d00f34;
    min-height: 300px;
    color: white;
    text-align: center;
    position: relative;
}

#home-leader h1, #home-leader p{
  margin: auto;
}

#home-leader-wrapper{
  position: absolute;
    width: 100%;
    top: 40%;
}

#home-portal-guide{
  min-height: 300px;
    color: black;
    text-align: center;
    position: relative;
}

#home-guide-wrapper{
  position: absolute;
  width: 100%;
  top: 40%; 
}

#home-info{
  height: 400px;
  text-align: center;
}

#portal-wrapper{
  width: 100%;
  padding: 10px;
  background-color: white;
  height: 800px;
  padding-top: 60px;
}

#home-portals{
    width: 90%;
    margin: auto;
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
}
  
.portal-href:hover{
    text-decoration: none; 

}

.portal-href{  
    display: inline;
    width: 380px;
    text-decoration: none;
}

.portal-inner{
    background-color: white;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
}

.portal-inner:hover {
    box-shadow: 0px 0px 10px #24c9da6b;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}

.portal-bg-img{
  background-image: url("./../images/paperwork.jpg");
}

.portal-bg-img2{
  background-image: url("./../images/maproute.jpg");
}

.portal-bg-img3{
  background-image: url("./../images/jnptWorkforce.jpg");
}

.portal-bg-img4{
  background-image: url("./../images/portBerth.jpg");
}

.portal-bg-img5{
  background-image: url("./../images/AGV.jpg");
}

.portal-bg{
  width: 100%;
  padding: 80px;
  background-size: cover; 
}

.portal_image{
  background-image: url("./../static/images/course-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}


.TBD{
  height: 300px;
  background: white;
}

.footer-pane{
  background-color: #273547;
}

.footer-row{
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-header{
  color: #a4bbd7;
  border-bottom: 1px solid #f7f5f5;
  padding-bottom: 20px;
  font-size: 22px;
}

.footer-li{
  color: #fff;
  font-size: 15px;
}
.footer-data {
  padding-top: 50px;
}

.footer-list {
  padding-bottom: 5px;
}

.footer-ul{
  padding-top: 20px;
  padding-bottom: 30px;
}

.last-footer-text{
  text-align: center;
  padding-bottom: 20px;
}

.container-fluid{
  padding: 0;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: #75757530
}

